
  
  
  .movie-image {
    width: 100%; /* Ensures the image fills the width of its container */
    height: auto; /* Maintains aspect ratio */
  }
  
  

  .movie-detail-btn{
    width: 150px;
    display :flex;
    align-items: flex-start;
    justify-content: center;
  }
  