.movies-list{
  
    display: flex;
    flex-direction: column;
    
}

.genre-section {
    margin-top: 2em;
    padding-left: 1.5rem;
  }
  
  .carousel-item-padding-40-px {
    padding: 0 16px; /* Adjust padding as necessary */
  }

  .movie-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Source Sans Pro", Arial, sans-serif;
    padding-left: 20px;
    padding-bottom: 0.5rem;
  }