.carousel-item-padding {
  padding-right: 20px;
  padding-left: 0;
  }

  .movie-card-title {
    font-size: 0.8rem;
    font-weight: bold;
    font-family: "Source Sans Pro", Arial, sans-serif;
    padding-left: 20px;
    padding-bottom: 0.5rem;
  }

  /* Default arrow styles */
.react-multiple-carousel__arrow {
  background: rgba(255, 255, 255, 0.5); /* Default background */
  border: 1px solid rgba(0, 0, 0, 0.3); /* Border for arrows */
  border-radius: 50%; /* Circular arrows */
  width: 40px; /* Width of the arrows */
  height: 40px; /* Height of the arrows */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Cursor on hover */
}

/* Arrow hover effect */
.react-multiple-carousel__arrow:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
  border-color: rgba(0, 0, 0, 0.5); /* Border color on hover */
}

/* Arrow icon styles */
.react-multiple-carousel__arrow:before {
  font-size: 24px; /* Icon size */
  color: #fff; /* Icon color */
}