
  .custom-navbar {
    background-color: rgba(3, 37, 65);
    color:  #72b5f7;
  }

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #72b5f7;
}

.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover {
  color: #fff;
}
.custom-navbar .container{
  margin-left:1.5rem;
}