.header{
    min-height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    display: flex;
    flex:3;
    padding-left: 1.5em;
}
.list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1.5em;
    flex: 1;
    padding-right:1.5em
}
