.cart-detail-image{
    width : 200px;
}

.checkout-button{
    width: 400px;
}
.delete-cart-button{
    padding-top: 1rem;
    width: 50px;
}
.custom-padding-left {
    padding-left: 150px; /* Or any other value larger than Bootstrap’s predefined sizes */
  }